<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">codepool</li><li><a class="u-email" href="mailto:bits.sahil@gmail.com">bits.sahil@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>codepool helps developers learn how latest software technologies can be used to solve the real world use cases and how we can apply simple programming techniques to solve complex problems</p>
      </div>
    </div>

  </div>

</footer>